* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    border: 2px solid royalblue;
    background: grey;
    font-family: 'Poppins', sans-serif;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
    justify-content: space-evenly;
    background: rgba(161, 123, 123, 0.692);
    border-radius: 50px;
}

.right {
    display: flex;
}

.resumo {
    display: flex;
    justify-content: center;
}

.nome {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.midias_sociais {
    display: flex;
    justify-content: space-around;
}

.menu {
    background: rgba(164, 164, 241, 0.253);
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagens {
    width: 50%;
    margin: 25px;
    align-items: center;
}

.img {
    display: flex;
    justify-content: space-around;
}

.foto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 4px 13px 8px lightblue;
}

.tecnologias {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 7%;
    margin: 5px;
}

.resumo {
    align-items: center;
    justify-content: space-evenly;
}

.container2 {
    border: 2px solid red;
}